/de.oforge.manifest.version.builder
/trash
/de.oforge.osgi.repobuilder
.idea
/out
/com.recalot.portal
/lib
/libs
/data
/flexjson
/docs
.iml
Würde .classpath löschen
Würde .project löschen
Würde .settings/ löschen
Würde parent.iml löschen

*.iml