#navigation{  
  border-right: 9px solid #cc6600;
  background-color: #333;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 20%;
  min-width: 200px;
  z-index: 1000;
} 

#navigation > *{  
	display: block;
	border-bottom: 1px solid #4c4c4c;
	text-align: center;
} 

#navigation li {  
	margin: 0px;
	border-top: 1px solid #4c4c4c;
} 

#navigation ul ul li {  
	border-left: 10px solid #AED60E;
	border-top: 1px solid #AED60E;
} 
#navigation ul ul li:last-child {  
	border-bottom: 1px solid #AED60E;
} 

#navigation li a {
	display: block;
	padding: 10px 20px;
	
	text-transform: capitalize;
}  

#navigation li a:hover {
	background-color: #4c4c4c;
}  

#navigation ul {  
	margin: 0;
	padding: 0;
	text-align: left;
} 

#navigation a {
	text-decoration: none;
}
  