<div>
    <div class="row">
        <div ng-include="'views/pages/configuration/hosts.html'"></div>
        <small-list columns="6" label="Connected Datasources" type="data" state="ready"></small-list>
        <small-list columns="6" label="Trained Recommender" type="recommender" state="ready"></small-list>
        <small-list columns="6" label="Running Online Experiments" type="onlineexperiments" state="running"></small-list>
        <small-list columns="6" label="Finished Experiments" type="experiments" state="finished"></small-list>
    </div>
</div>